@use "./scss/variables";
@use "./scss/reset";
@use "./scss/mixins" as mixins;

body {
  background-color: var(--clr-black);
  overflow-x: hidden;
  padding-inline: var(--pd-x);
}

.navbar {
  width: calc(100vw - var(--pd-x));
  height: var(--navbar-height);
  @include mixins.flexCenter();
  justify-content: end;

  padding-inline: var(--pd-x);
  gap: 3rem;

  .link {
    color: var(--clr-primary-200);
    font-size: var(--fs-0);
    transition: var(--transition);

    &:hover {
      color: var(--clr-primary-50);
    }
  }

  .active {
    text-decoration: 2px underline var(--clr-primary-200);
    text-underline-position: under;
  }
}

.container {
  width: calc(100vw - var(--pd-x));

  height: calc(100dvh - var(--navbar-height));
  padding-inline: var(--pd-x);
  @include mixins.flexCenter(column);
  gap: 1.5rem;

  .text-content {
    text-balance: wrap;

    .title {
      color: var(--clr-primary-400);
      font-size: var(--fs-4);
      line-height: 1.4;
    }

    .desc {
      color: var(--clr-white);
      font-size: var(--fs-0);
      line-height: 1.5;
    }
  }
  .img-content {
    img {
      max-width: 25rem;
    }
  }
}

#contact-img {
  max-height: 15rem;
}

.contact-form {
  margin-top: 2rem;

  display: flex;
  flex-wrap: wrap;

  gap: 1rem;

  & > * {
    flex-grow: 1;
  }

  .contact-input {
    font-size: var(--fs-0);
    padding-block-end: 0.3rem;
  }

  .contact-btn {
    background-color: var(--clr-primary-300);
    color: var(--clr-white);
    font-size: var(--fs-1);
    align-self: center;

    &:hover {
      background-color: var(--clr-primary-500);
    }
  }
}

.queryStatus {
  width: 100vw;
  height: calc(100dvh - var(--navbar-height));
  @include mixins.flexCenter();

  color: var(--clr-primary-50);
  font-size: var(--fs-4);
}

.usersContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 1.25rem;

  .userCard {
    @include mixins.flexCenter();
    background-color: var(--clr-primary-500);
    padding-block: 0.75rem;
    padding-inline: 1.5rem;
    border-radius: var(--radius);
    cursor: pointer;
    transition: var(--transition);

    &:hover {
      background-color: var(--clr-primary-200);
    }
  }

  .userName {
    font-size: var(--fs-0);
    color: var(--clr-primary-50);
  }
}

#usersImg {
  height: 30vh;
}

.infoCard__container {
  width: 100%;
  height: calc(100dvh - var(--navbar-height));
  @include mixins.flexCenter();

  .infoCard {
    width: 100%;

    padding: 1rem;

    background: hsla(339, 100%, 55%, 1);

    background: linear-gradient(
      90deg,
      var(--clr-primary-400) 0%,
      hsla(197, 100%, 64%, 1) 100%
    );

    background: -moz-linear-gradient(
      90deg,
      var(--clr-primary-400) 0%,
      hsla(197, 100%, 64%, 1) 100%
    );

    background: -webkit-linear-gradient(
      90deg,
      var(--clr-primary-400) 0%,
      hsla(197, 100%, 64%, 1) 100%
    );

    box-shadow: 0 0 7px var(--clr-primary-50);
    border-radius: var(--radius);

    color: var(--clr-white);

    .infoCard__header {
      display: grid;
      grid-template-columns: 30% 70%;
      gap: 2rem;

      color: var(--clr-primary-400);

      .profilePic__container {
        height: 100%;
        width: 100%;
        background-color: var(--clr-black-light);
        border-radius: 100%;
        .profilePic {
          // width: 20vmax;
          object-fit: cover;
        }
      }

      .basicInfo {
        align-self: center;
        .basicInfo__name {
          font-size: var(--fs-3);
          line-height: 1.6;
        }
        .basicInfo__city {
          font-size: var(--fs-0);
          color: var(--clr-black-light);
        }
      }
    }

    .lineContainer {
      width: 100%;
      @include mixins.flexCenter();

      .lineDivision {
        width: 70%;
        height: 0.1rem;
        background-color: var(--clr-primary-50);
        margin-block: 1.5rem;

        box-shadow: 0 0 7px var(--clr-primary-100);
      }
    }

    .row {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-block: 1rem;

      .label {
        color: var(--clr-black-light);
        font-size: var(--fs-0);
      }

      .row__value {
        font-size: var(--fs-0);
      }
    }
  }
}

// styling for screens bigger than 768px.
@media (width >= 48rem) {
  .container {
    flex-direction: row;
    justify-content: space-around;
    .text-content {
      max-width: 55ch;
    }
    .img-content {
      img {
        max-height: 60vh;
        min-width: 25rem;
      }
    }
  }

  #contact-img {
    max-height: 25rem;
  }

  #usersImg {
    height: auto;
  }

  .infoCard {
    max-width: 50vw;
  }
}
