@use "./scss/variables";
@use "./scss/reset";
@use "./scss/mixins" as mixins;

body {
  background-color: var(--clr-black);
  overflow-x: hidden;
}

.container {
  width: 100vw;
  height: calc(100dvh - var(--navbar-height));

  display: grid;
  place-items: center;

  h2 {
    font-size: 5vmax;
    color: var(--clr-white);
    text-balance: wrap;
  }
}

.navbar {
  width: 100vw;
  height: var(--navbar-height);
  @include mixins.flexCenter();
  justify-content: end;

  padding-inline: 5rem;
  gap: 3rem;

  .link {
    color: var(--clr-primary-200);
    font-size: 1.35vmax;
    transition: var(--transition);

    &:hover {
      color: var(--clr-primary-50);
    }
  }

  .active {
    text-decoration: 2px underline var(--clr-primary-200);
    text-underline-position: under;
  }
}
