* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  font-family: var(--ff-base);
  user-select: none;
}

li {
  list-style: none;
}

img,
svg {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

input,
textarea {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid var(--clr-primary-300);
  outline: none;
  color: var(--clr-white);

  font-family: var(--ff-base);
  transition: var(--transition);

  &:focus {
    border-bottom: 3px solid var(--clr-primary-500);
    color: var(--clr-primary-50);
  }
}

button {
  border: none;
  font-family: var(--ff-base);
  padding-block: 0.5rem;
  padding-inline: 1rem;
  border-radius: var(--radius);
  cursor: pointer;
  transition: var(--transition);
}
