:root {
  // Font

  --ff-base: "Inter", sans-serif;

  --fw-thin: 100;
  --fw-regular: 400;
  --fw-bold: 700;

  --fs-0: clamp(1rem, calc(0.91rem + 0.38vw), 1.25rem);
  --fs-1: clamp(1.07rem, calc(0.91rem + 0.65vw), 1.5rem);
  --fs-2: clamp(1.14rem, calc(0.91rem + 0.99vw), 1.8rem);
  --fs-3: clamp(1.22rem, calc(0.88rem + 1.42vw), 2.16rem);
  --fs-4: clamp(1.3rem, calc(0.84rem + 1.95vw), 2.59rem);
  --fs-5: clamp(1.38rem, calc(0.77rem + 2.6vw), 3.11rem);

  // Colors

  --clr-black: #111013;
  --clr-black-light: #3f3d56;

  --clr-grey: #80808080;
  --clr-white: #eee;

  --clr-primary-50: hsl(345, 100%, 90%);
  --clr-primary-100: hsl(345, 100%, 80%);
  --clr-primary-200: hsl(345, 100%, 73%);
  --clr-primary-300: hsl(345, 100%, 67%);
  --clr-primary-400: hsl(345, 100%, 61%);
  --clr-primary-500: hsl(345, 100%, 55%); /* #ff1a53 */
  --clr-primary-600: hsl(345, 100%, 47%);
  --clr-primary-700: hsl(345, 100%, 40%);
  --clr-primary-800: hsl(345, 100%, 33%);
  --clr-primary-900: hsl(345, 100%, 26%);

  --navbar-height: 5rem;
  --pd-x: 3.5rem;

  --transition: all 0.3s ease-in-out;

  --radius: 0.25rem;
}
